
body
{
	font-family: 'Segoe UI';
	color: black ;
	background-color: silver;;
	margin-left: 75px;
	margin-right: 75px;
    width: 750px;
	margin: 0 auto;
}
header {
	text-align: center;
	line-height: 25px;
	color: #E63946;
}
footer
{
	text-align: center;
	line-height: 25px;
	color: red;
}
table
{
	border-collapse: collapse;
	
	margin: 20px;
}
thead
{
	background-color: red;
}
h1
{
	font-family: 'Segoe UI';
	text-align: center;
	line-height: 0px;
	color: #E63946;
}
 p {
	color: black;
	font-family: 'Segoe UI';
	text-align: center;
 }
h2
{
	font-family: Georgia;
	text-align: center;
	line-height: 0px;
	color: #E63946;
}
h3
{
	font-family: 'Segoe UI';
	text-align: center;
	line-height: 0px;
	color: red;
}
h4
{
	font-family: 'Segoe UI';
	text-align: center;
	line-height: 0px;
	color: black;
}

a
{
	text-decoration: none;
	color: red;
	font-weight: bold;
}
th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: center;
	vertical-align: middle;
}
.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: red;
}

a:hover
{
	text-decoration: underline;
	color: red;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}
nav
{
	text-align: center;
}
ul {
	list-style: none; 
	padding: 0;
	margin: 0; 
	font-family:'Segoe UI' ;
  }